.calculator, .calc-display, .button-panel {
	display: flex;
}

.calculator {
	width: 700px;
	flex-direction: column;
}

.calc-display {
	box-sizing: border-box;
	background: grey;
	height: 100px;
	color: #fff;
	font-weight: bold;
	padding: 1em;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	font-size: 1.8em;
}